#result {
    display: none;
}

body {
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;*/
  background-image: url('http://7-themes.com/6797738-hd-baseball-field-wallpaper.html');
}

button {
  height:300px;
  width:75px;
  background-color:rgba(255, 255, 255, 0);
}
