<div class='container-fluid'>
  <div class="wrapper">
    <div class="push"></div>
  </div>
  <div class='footer countdisplay'>
    <table class='table-responsive'>
      <table class='table table-curved'>
        <thead class="count">
          <tr>
            <th>Balls</th>
            <th>Strikes</th>
            <th>Outs</th>
            <th>Inning</th>
          </tr>
        </thead>
        <br>
        <tbody>
          <tr class="count">
            <td> {{ BaseballFactory.balls }} </td>
            <td> {{ BaseballFactory.strikes }} </td>
            <td> {{ BaseballFactory.outs }} </td>
            <td> {{ BaseballFactory.innings }} </td>
          </tr>
        </tbody>
      </table>
    </table>
  </div>
</div>
