<div class ="container text-center">
  <div class="form-group">
      <button ng-hide="BaseballFactory.gameover" type='submit' ng-click="pitch(0)">Pitch Outside</button>
      <button ng-hide="BaseballFactory.gameover" type='submit' ng-click="pitch(1)">Pitch Middle</button>
      <button ng-hide="BaseballFactory.gameover" type='submit' ng-click="pitch(2)">Pitch Inside</button>
      <p ng-show="BaseballFactory.gameover">
        GAME OVER.
      </p>
      <button ng-show="BaseballFactory.gameover" ng-click="newgame()" class='btn btn-success'>NEW GAME</button>
  </div>
</div>
