<div class='container-fluid'>
  <div class="wrapper">
    <div class="push"></div>
  </div>
  <div class='footer'>
    <table class='table-responsive'>
      <table class='table table-striped'>
        <thead>
          <tr>
            <th>Team<th>
              <th>Runs</th>
              <th>Hits</th>
              <th>Strikeouts</th>
              <th>Pitchcount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope='row'><span ng-hide="BaseballFactory.atbat == 'HOME'" style="color:red">X</span>{{ BaseballFactory.awayteam }}</td>
              <td></td>
              <td> {{ BaseballFactory.runs_awayteam }} </td>
              <td> {{ BaseballFactory.hits_awayteam }} </td>
              <td> {{ BaseballFactory.strikeouts_awayteam }} </td>
              <td> {{ BaseballFactory.away_pitchcount }} </td>
            </tr>
            <tr>
              <td scope='row'><span ng-show="BaseballFactory.atbat == 'HOME'" style="color:red">X</span>{{ BaseballFactory.hometeam }}</td>
              <td></td>
              <td> {{ BaseballFactory.runs_hometeam }} </td>
              <td> {{ BaseballFactory.hits_hometeam }} </td>
              <td> {{ BaseballFactory.strikeouts_hometeam }} </td>
              <td> {{ BaseballFactory.home_pitchcount }} </td>
            </tr>

          </tbody>
        </table>
      </table>
    </div>
  </div>
