<div class='container-fluid'>
  <div class="wrapper">
    <div class="push"></div>
  </div>
  <div class='footer'>
    <table class='table-responsive'>
      <table class='table table-curved'>
        <thead>
          <tr>
            <th>Team<th>
              <th></th>
              <th>Runs</th>
              <th>Hits</th>
              <th>Strikeouts</th>
              <th>Pitchcount</th>
            </tr>
          </thead>
          <tbody>
            <tr class="BlueJays">
              <td><span ng-hide="BaseballFactory.atbat == 'HOME'" style="color:red">X </span><img src="http://www.printyourbrackets.com/mlb-logos/toronto-blue-jays-logo.png"></td>
              <td scope='row'>{{ BaseballFactory.awayteam }}</td>
              <td></td>
              <td> {{ BaseballFactory.runs_awayteam }} </td>
              <td> {{ BaseballFactory.hits_awayteam }} </td>
              <td> {{ BaseballFactory.strikeouts_awayteam }} </td>
              <td> {{ BaseballFactory.away_pitchcount }} </td>
            </tr>
            <tr class="Brewers">
              <td><span ng-show="BaseballFactory.atbat == 'HOME'" style="color:red">X</span><img src="http://www.printyourbrackets.com/mlb-logos/milwaukee-brewers-logo.png" style="width:75px"></td>
              <td scope='row'>{{ BaseballFactory.hometeam }}</td>
              <td></td>
              <td> {{ BaseballFactory.runs_hometeam }} </td>
              <td> {{ BaseballFactory.hits_hometeam }} </td>
              <td> {{ BaseballFactory.strikeouts_hometeam }} </td>
              <td> {{ BaseballFactory.home_pitchcount }} </td>
            </tr>

          </tbody>
        </table>
      </table>
    </div>
  </div>
