<div>
  <p>
    RUNS: {{ BaseballFactory.runs }}
  </p>
  <p>
    PITCHCOUNT: {{ BaseballFactory.balls }} - {{ BaseballFactory.strikes }}
  </p>
  <p>
    OUTS: {{ BaseballFactory.outs }}
  </p>
  <p>
    INNING: {{ BaseballFactory.innings }}
  </p>
  <p>
    STRIKEOUTS: {{ BaseballFactory.strikeouts }}, HITS: {{ BaseballFactory.hits }}
  </p>
  <p class="text-center">
    {{BaseballFactory.secondbase}}
  </p>
  <p class="text-center">
    {{BaseballFactory.thirdbase}} _______
    {{BaseballFactory.firstbase}}
  </p>
  <p class="text-center">
    0
  </p>
</div>
